.pai{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.filho{
    width: 200px;
    height: 200px;
    border: 1px solid;
    background-color: pink;
    animation: rotacao ease 3s infinite normal ;
}
       
@keyframes rotacao {
    0%{
        transform: rotate(0);
        box-shadow: 0 0 0 0 black;  
    }
    50%{
        transform: rotate(45deg);
        box-shadow: 0 0 0 10px black;
        width: 100px;
        height: 100px;
        
    }
    100%{
        transform: rotate(360deg);
        box-shadow: 0 0 0 0 black;
    }

}