.pai{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.filho{
    width: 200px;
    height: 200px;
    border: 1px solid;
    border-radius: 50%;
    background-color: pink;
    animation: pulsar 2s ease 3;
}
       
@keyframes pulsar {
    0%{
        transform: scale(0.5);
        box-shadow: 0 0 0 0 black;
    
    
    }
    50%{
        transform: scale(0.75);
        box-shadow: 0 0 0 10px black;
    
    }
    100%{
        transform: scale(0.5);
        box-shadow: 0 0 0 0 black;
    }


}